textarea, input {
	background: none #CCC !important;
	color: #000 !important
}
textarea {
	padding: 5px
}
input {
	padding: 2px 5px
}
a {
	text-decoration: none;
	color: blue
}
a:hover {
	text-decoration: underline;
}
select { 
	width: 200px;
}
.ui-selectmenu-button, .ui-selectmenu-menu {
	font-size:12px
}
.ui-button-text-only .ui-button-text {
    padding: 0.2em 1em;
}
button, .ui-button {
	margin-bottom:3px;
	margin-top:3px
}
.placeholder {color: #353535 !important;}
::-webkit-input-placeholder {
    color:    #353535;
}
:-moz-placeholder {
    color:    #353535;
}
:-ms-input-placeholder {
        color:    #353535;
}
.clear {
	clear:both
}
span.highlight {
	font-weight:bold;
	color:red
}
#main {
	width: 800px;
	border: 3px solid;
	border-radius: 15px;
	margin: 15px auto;
	padding: 15px;
	font-size:14px;
}
#title {
	border-bottom: 2px solid #000;
	margin-bottom: 5px;
	color: #F6931F
}
#mensajes {
	position:relative
}
#mensajes img {
	position:absolute;
	right:5px;
	top:9px;
	cursor:pointer
}
#footer {
	border-top: 2px solid;
	margin-top: 15px;
	padding-top: 10px;
	height:15px;
	font-size: 12px
}
.tabla_horizontal .td-left {
	color: #f6931f;
	font-weight: bold
}
.tabla_horizontal .td-right {
	padding-left: 15px;
}

#preguntas {
	padding-left: 15px;
}
.pregunta {
	font-weight:bold;
}
.satisfaccion_td {
	color: #F6931F;
	white-space: nowrap;
	width: 1px;
	padding-left:20px;
}
.satisfaccion_slider_td {
	padding-left:15px;
}