#comentarios_div .comentario {
	border: 2px solid;
    border-radius: 7px;
	padding: 5px;
	margin: 7px 0
}
#comentarios_info {
	font-weight:bold
}
#comentarios_opinion-button {
	margin-top:-5px;
}
.comentario_extra {
	text-align:right;
	margin-top: 5px;
}
.valoraciones, .opinion {
	display:inline-block;
	text-align:right
}
.valoraciones .title, .opinion .title {
	font-weight: bold
}
.opinion {
	margin-left: 10px;
}
.neutral {
	color: black;
}
.positiva {
	color: green;
}
.negativa {
	color: red
}

#preguntas {
	padding-left: 15px;
}
span.pregunta {
	font-weight:bold;
}
input.pregunta {
	font-weight:bold;
	width: 685px
}
td.pregunta {
	width:85px;
	vertical-align:top
}