#comentarios_div .comentario {
	border: 2px solid;
    border-radius: 7px;
	padding: 5px;
	margin: 7px 0
}
#comentarios_info {
	font-weight:bold
}
.comentario_extra {
	text-align:right;
	margin-top: 5px;
}
.valoraciones, .opinion {
	display:inline-block;
	text-align:right
}
.valoraciones .title, .opinion .title {
	font-weight: bold
}
.opinion {
	margin-left: 10px;
}
.opinion .positiva {
	color: green;
}
.opinion .negativa {
	color: red
}